$basic-background : #434343;
$operator-background : #636363;
$result-background : #fff;
$cursor-color : #48b5c0;
$cal-width: 400px;
$basic-font-size: 30px;
$operator-font-size:23px;


//reset
body {
    margin: 0;
    color:#fff;
    background-color:$cursor-color;
}

//mixin
@mixin press-ani {
    &::after{
        content:'';
        position:absolute;
        top:-5px;
        left:-5px;
        width:110px;
        height:110px;
        border-radius:55px;
        animation: press-ani .5s ease;
        @keyframes press-ani {
            from{
                background-color:rgba(255,255,255,0.4);
                transform:scale(0,0);
            }
            to{
                background-color:rgba(255,255,255,0);
                transform:scale(1,1);
            }
        }
    }  
}

@mixin press-anm {
    &::after{
        content:'';
        position:absolute;
        top:-5px;
        left:-5px;
        width:110px;
        height:110px;
        border-radius:55px;
        animation: press-ani .5s ease;
        @keyframes press-ani {
            from{
                background-color:rgba(255,255,255,0.4);
                transform:scale(0,0);
            }
            to{
                background-color:rgba(255,255,255,0);
                transform:scale(1,1);
            }
        }
    }  
}

main {
    width:$cal-width;
    height:650px;
    margin:100px auto;
}

.result {
    width:100%;
    height:200px;
    background-color:$result-background;
    color: #000;
    display:flex;
    justify-content:flex-end;
    align-items:center;
    font-size:50px;
    font-weight:lighter;
    overflow:hidden;
    padding:20px;
    box-sizing:border-box;
    transition:all .5s ease;
}

.key {
    display:flex;
    flex-direction:row;
    height:450px;
    .basics{
        display:flex;
        position:relative;
        overflow:hidden;
        width:$cal-width*0.75;
        height:100%;
        background-color:$basic-background;
        flex-wrap:wrap;
        .basic {
            width:$cal-width*0.75/3;
            display:flex;
            justify-content:center;
            align-items:center;
            font-size:$basic-font-size;
            font-weight:lighter;
            cursor:pointer;
        }
    }

    .operators {
        position:relative;
        overflow:hidden;
        width:$cal-width*0.25;
        height:100%;
        display:flex;
        flex-direction:column;
        background-color:$operator-background;
        .operator{
            flex:1;
            display:flex;
            justify-content:center;
            align-items:center;
            font-size:$operator-font-size;
            font-weight:lighter;
            cursor:pointer;
        }
    }
  
}


.ani {
    position:relative;
    @include press-ani;
}

.anm {
    position:relative;
    @include press-anm;
}
